* {
    padding: 0;
    margin: 0;
    font-family: 微軟正黑體 Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

:root {
    --bxd: 2px 2px 10px rgba(0, 0, 0, 0.5);
    --color1: rgb(56, 196, 221);
    --color2: rgb(111, 97, 238);
}
.fcc {
    align-items: center;
    justify-content: center;
    display: flex;
}

.TopBtn {
    position: fixed;
    right: 3em;
    bottom: 3em;
    width: 4em;
    height: 4em;
    background-color: #fff;
    border-radius: 50%;
    transform: rotate(180deg);
    z-index: 998;
}

.TopBtn img {
    width: 100%;
}

.to_introduce_ai_btn {
    position: absolute;
    top: 70%;
    left: 50%;
    width: 250px;
    height: 100px;
    clip-path: polygon(50% 50%, 95% 0%, 50% 100%, 0 -5%);
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-50%);
    transition: all 0.3s;
    z-index: 2;
    animation: to_introduce_ai_btn_anime 1s infinite alternate ease-in-out;
}

.to_introduce_ai_btn div {
    width: 100%;
    height: 100%;
    background-color: var(--color1);
    clip-path: polygon(50% 60%, 95% 0%, 50% 90%, 0 -5%);
}

.to_introduce_ai_btn:hover {
    transform: translate(-50%, 10px);
}

@keyframes to_introduce_ai_btn_anime {
    0% {
        transform: translateX(-5 0%);
    }

    100% {
        transform: translate(-50%, 30px);
    }
}

.sech1 {
    color: var(--color2);
    letter-spacing: 4px;
    font-weight: 900;
    text-align: center;
    padding-top: 2.5rem;
    padding-bottom: 1rem;
    margin: auto;
    display: flex;
    align-items: center;
    text-shadow: 2px 3px 5px var(--color1);
}


.sech2{
    -webkit-text-stroke: 2px var(--color1);
    color: transparent;
}

.sech2-2{
    color: transparent;
    -webkit-text-stroke: 2px var(--color2);
}
@media (min-width: 900px) {
    .sech1 {
        font-size: 3rem;
    }
}

.sech1::before,
.sech1::after {
    content: "";
    display: block;
    width: auto;
    height: 4px;
    flex-grow: 1;
    background: var(--color2);
    margin: auto 30px;
}


/* Nav Start */

.nav__class {
    width: 98%;
    position: fixed;
    padding: 1.2% 5%;
    left: 50%;
    margin-top: 1rem;
    display: flex;
    color: #222;
    background-color: #fff;
    box-shadow: 2px 2px 5px black;
    border-radius: 15px;
    font-weight: bold;
    z-index: 999;
    transform: translate(-50%, 0);
    transition: 0.3s all;
}

.nav_active {
    width: 100%;
    padding: 0.6% 5%;
    border-radius: 0;
    margin-top: 0;
    transform: translate(-50%, 0);
}

@media (max-width: 1200px) {
    .ToTop {
        right: 20px;
        bottom: 20px;
    }
}

.nav-item {
    font-size: 1.3rem;
    position: relative;
    transition: all 0.3s;
    margin-right: 20px;
}

.nav-item::before {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    height: 4px;
    background-color: var(--color1);
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.5s;
}

.nav-item:hover {
    text-shadow: 2px 2px 1px var(--color1);
}

.nav-item:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.nav-left {
    margin-left: 10px;
    font-size: 2.2rem;
    width: 200px;
}

.nav-left a {
    color: #333;
    font-weight: 600;
    opacity: 0.7;
    transition: 0.5s all;
    letter-spacing: 2px;
}

.nav-left span {
    color: #32d5e4;
}

.nav-left a:hover {
    opacity: 0.95;
}


/* Nav End */


/* carousel Start */

.carousel h3 {
    text-shadow: 3px 3px 5px black;
    font-size: 2.9vw;
    font-weight:700;
}

.carousel p {
    text-shadow: 3px 3px 7px black;
    font-size: 2vw;
    font-weight:700;
}

.carousel-caption.costom {
    left: 65%;
    bottom: 12rem;
}

.carousel-caption.costom2 {
    right: 65%;
    bottom:12rem
}
.carousel button{
    z-index: 99999999;
    
}

.p1m {
    background: url(../images/p1m.svg);
    position: absolute;
    background-size: cover;
    z-index: 9999;
    bottom:0;
    left:0;
    height: 1100px;
    width: 100%;
}

/* introduce_ai Start */

#introduce_ai {
    background: url(../images/ai-background.jpg) no-repeat 100% / cover;
    isolation: isolate;
    position: relative;
    padding-bottom: 10rem;
}

#introduce_ai .sech1 {
    color: #fff;
    text-shadow: 3px 3px 10px #ccc;
}

#introduce_ai::after {
    content: "";
    inset: 0;
    position: absolute;
    z-index: -1;
    background: #0007;
}

#introduce_ai .slide {
    position: relative;
    margin: auto;
    display: flex;
    justify-content: center;
}

@media (min-width: 768px) {
    #introduce_ai {
        height: 100vh;
    }

    #introduce_ai .slide {
        height: calc(500px + 4rem);
        width: 75%;
    }
}

#introduce_ai .slide .slide-control {
    display: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99;
    width: 100%;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0);
}

@media (min-width: 768px) {
    #introduce_ai .slide .slide-control {
        display: flex;
    }
}

#introduce_ai .slide .slide-prev,
#introduce_ai .slide .slide-next,
#introduce_ai .slide .slide-back {
    opacity: 0.8;
    transition: 0.5s;
    cursor: pointer;
    padding: 5%;
}

#introduce_ai .slide .slide-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#introduce_ai .slide .slide-project {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    padding: 2rem;
    margin-top: 20px;
    opacity: 0.95;
    background-color: #fff;
    border-radius: 8px;
    transition: 0.5s;
}

#introduce_ai .slide .slide-project .slide-body {
    text-align: justify;
}

@media (min-width: 768px) {
    #introduce_ai .slide .slide-project {
        width: 450px;
        margin-top: 0;
    }

    #introduce_ai .slide .slide-project {
        height: 100%;
        position: absolute;
    }

    #introduce_ai .slide .slide-project.show {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 5;
    }

    #introduce_ai .slide .slide-project.prev {
        top: 50%;
        left: 5%;
        transform: translateY(-50%) scale(0.75);
        z-index: 4;
        opacity: 0.5;
    }

    #introduce_ai .slide .slide-project.next {
        top: 50%;
        left: 95%;
        transform: translate(-100%, -50%) scale(0.75);
        z-index: 4;
        opacity: 0.5;
    }

    #introduce_ai .slide .slide-project.back {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0.75);
        z-index: 3;
        opacity: 0.5;
    }
}


/* introduce_ai End */


/* contest Start */

#contest {
    min-height: 100vh;
    background: #7c99b6;
}


#contest .contest {
    cursor: pointer;
}


.calendar-container {
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
    transition: 0.5s;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.calendar-container:hover {
    background-color: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0);

    /* & img {
        filter: brightness(1)
    } */
}
.calendar-container:hover img{
    filter: brightness(1)
}

.calendar-container :is(header, article) {
    z-index: 1;
}

.calendar-container img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(.8);
    transition: .5s;
}

/* contest End */

/* highlight Start */
#sec4{
    background: #93a9a3;
}

#sec4 article{
    width: 100%;
    height: 100vh;
}


/* highlight End */
